img{
    height: 15em ;
    width: 15em ;

}
#fundo{
    background-color: #666666;
    display: grid;
}
#content{
    padding: 10em;
}

#nomedamusica{
    font-size: small;
}
#duracao{
    font-size: x-small;
}
#artista{
    font-size: x-small;
}
#album{
    font-size: x-small;
}
#nome{
    height: 20px;
}
button{
    border: none;
    background: url("src\assets\play_button.png") no-repeat;
    height: 32px;
    width: 32px;

}
