img{
    height: 15em ;
    width: 15em ;
    margin-bottom: 5em;

}
#fundo{
    padding-bottom: 10em;
    background-color: #666666;
    display: grid;
}
#conteudo{
padding: 4em;
padding-bottom: 13em;
margin-top: 6em;

}

#nomedamusica{
    font-size: medium;
    
    color: #C9C6C2;
}
#duracao{
    font-size: small;
    
    color: #828587;
}
#artista{
    font-size: small;
   
    color: #828587;
}
#album{
    font-size: small;
    
    color: #828587;
}
#nome{
    height: 20px;
}

button{
    
    height: 32px;
    width: auto;
}

#playlist{
    margin-bottom:5%;
    padding-right: 0em;
}

font{
    font-weight: bold;
}

#music:hover{
    background-color: #515050;
}

#music{
    padding-right: 0em;
}



