<div id = "fundo">
  <div id = "content" class="container">
      <div class = "row">
            <div class = "col">
                <img src="assets/teste1.png">
                <p id = "nomeplaylist">Nome da Playlist</p>
            </div>
        <div class = "col">
            <div id = "musica">
                <div class = "row">
                    <div class = "col-md-3">
                        <button type="button">Play</button>
                    </div>
                    <div class = "col-md-3">
                        <p id = "nomedamusica"> Nome da Musica</p>
                    </div>
                    <div class = "col-md-3 offset-md-3">
                        <p id = "duracao">Dur</p>
                    </div>
        
                </div>
                <div class = "row">
                    <div class = "col-md-3 offset-md-2">
                        <p id = "artista"> Artista</p>
                    </div>
                    <div class = "col-md-3 offset-md-3">
                        <p id = "album">Album</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
<audio controls>
    <source src = "..\..\..\assets\BRABA.mp3" type="audio/mp3" > 
</audio>
    </div>
</div>

