



<div id="fundo">
    <div id="div_playlist">
        <h1 Style ="text-align: center; color: white;">Grandes playlists para melhorar seu dia!</h1>
        <div class="container" id="teste">
           <div class="row">
            
              <a  routerLink="/listar-musica" *ngFor="let list of lists"class="card text-white bg-primary mb-3" style="width: 15rem;">
                  <img class="card-img-top" src="{{list.foto}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{list.nome}}</h5>  
                  </div>
                </a>
            


            </div>
           
            
        </div>
    </div>
</div>