



<div id="fundo">
    <div id="div_playlist">
        <h1 Style ="text-align: center; color: white;">Grandes playlists para melhorar seu dia!</h1>
        <div class="container" id="teste">
            <div class="row">
            <div class="col" style="background-image: url(assets/teste1.png);">
                    
                    
                </div>
                <div class="col" style="background-image: url(assets/teste2.png);">
                    
                </div>
                <div class="col" style="background-image: url(assets/teste3.jpg);">
                    
                </div>
                <div class="col" style="background-image: url(assets/teste4.png);">
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col" style="background-image: url(assets/teste5.png);">
                   
                </div>
                <div class="col" style="background-image: url(assets/teste6.png);">
                    
                </div>
                <div class="col" style="background-image: url(assets/teste7.png);">
                   
                </div>
                <div class="col" style="background-image: url(assets/teste8.png);" >
                    
                </div>
            </div>
        </div>
    </div>
</div>