


.row{
 height: 18em;
}

#div_playlist{
    padding:1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50em;
    background-color:#262626;
    border-radius: 1%;
    
}

#fundo{
   margin:0em;
   padding:0em;
    background: #121212;
}

