#page{
    padding-top: 7em;
    padding-left:2em ;
    padding-right: 2em;
    background-color: #121212;
    }

#nomedamusica{
    font-size: 15px;   
    color: white;
}
#duracao{
    font-size: small; 
    color: white;
}
#artista{
    font-size: small;
    color: white;
}
#album{
    font-size: small; 
    color: white;
}
#nome{
    height: 20px;
}

button{
    background: none;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border: none;
    outline:none;
    background-position: center;
}

#button2{
    
    position: center;
    margin-bottom: 15em;
}

#musicas{
    width: 40%;
    margin-bottom:15em;
  
    margin-right: 5em;
}



#music:hover{
    background-color: #515050;
}

#music{
    padding-right: 0em;
}
