<div class="container-flex" id="page">
    <div class = "row">
    <div class="col" id="musicas">
        <h4 style="color: white;">Músicas</h4>
        <div class="container pt-3" *ngFor="let musica of musicas[0];index as i" id="music">
            <div class="row display flex" id="nome">
                <div class="col-2">

                    <button (click)="currentPlaylist = 0; audioPlayer($event.target.id)" type="button"
                        id="{{musica.id}}" [ngStyle]="{'backgroundImage': musicaatual == [musica.id] ? 'url(./assets/stop_button.png)' : 'url(./assets/play_button.png)'}"></button>
                    

                </div>
                <div class="col-7">
                    <p id="nomedamusica">{{musica.nome}}</p>
                </div>
                <div class="col-2">
                    <p id="duracao">{{musica.duracao}}</p>
                </div>

            </div>
            <div class="row display flex" id="albumdiv">
                <div class="col-3 offset-md-2">
                    <p id="artista"> {{musica.cantor}}</p>
                </div>
                <div class="col-5">
                    <p id="album">{{musica.album}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="musicas">
        <h4 style="color: white;">Artistas</h4>
        <div class="container pt-3" *ngFor="let musica of musicas[1];index as i" id="music">
            <div class="row display flex" id="nome">
                <div class="col-2">

                    <button (click)="currentPlaylist = 1; audioPlayer($event.target.id); " type="button" id="{{musica.id}}" [ngStyle]="{'backgroundImage': musicaatual == [musica.id] ? 'url(./assets/stop_button.png)' : 'url(./assets/play_button.png)'}"></button>

                </div>
                <div class="col-7">
                    <p id="nomedamusica">{{musica.nome}}</p>
                </div>
                <div class="col-2">
                    <p id="duracao">{{musica.duracao}}</p>
                </div>

            </div>
            <div class="row display flex" id="albumdiv">
                <div class="col-3 offset-md-2">
                    <p id="artista" [ngStyle] = "{'color': '#1db954', 'font-size': '15px', 'font-weight': '4px'}"> {{musica.cantor}}</p>
                </div>
                <div class="col-5">
                    <p id="album">{{musica.album}}</p>
                </div>
            </div>
        </div>

    </div>
    <audio id="audio"></audio>
</div>

</div>